/*
    Abel Mansilla Felipe <amansillafelipe.guadalupe@alumnado.fundacionloyola.net>
    Juanjo Carrasco Rodríguez <jcarrascorodriguez.guadalupe@alumnado.fundacionloyola.net>
    Alejandro Moreno Camacho <amorenocamacho.guadalupe@alumnado.fundacionloyola.net>
    Rubén Torres Gutiérrez <rtorresgutierrez.guadalupe@alumnado.fundacionloyola.net>
*/

/* IMPORTACIONES */
@import url('colores.css');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #1c2b2d;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

h1{
    text-align: center;
    color: white;
    margin: 1.25em 0;
}

/***** MAIN *****/

/*** ELEMENTOS ***/
#elementos{
    position: relative;
}

/* Elemento con Neon */
.elemento-neon > p:first-child{
    font-size: 1.1em;
    font-weight: bold;
}

.elemento-neon > p:last-child{
    font-size: 0.3em;
}

.elemento-neon{
    /* width: 65px; */
    width: 4.782%;
    /* height: 65px; */
    height: 9vh;
    font-size: 1.2em;
    display: inline-block;
    border: currentColor 0.125em solid;
    padding: 0.5em 0.25em;
    border-radius: 0.25em;
    text-shadow: 0 0 1em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    position: relative;
}

/*** TABLA ***/
.tabla{
    /* width: 1280px; */
    width: 95vw;
    display: grid;
    /* grid-template-columns: repeat(18, 60px); */
    /*grid-template-columns: repeat(18, 4.6875%);*/
    grid-template-columns: repeat(18, 4.782%);
    /* grid-template-rows: repeat(7, 70px); */
    grid-template-rows: repeat(7, 9vh);
    grid-gap: 0.8%;
    margin: 0 auto;
}

.tabla > div{
    /* width: 55px; */
    width: 100%; /* Respecto al grid-template-colums */
    /* height: 65px; */
    height: auto;
    /*margin: 15px;*/
}


/*** COLORES ***/
.azul{
    border: 2px solid rgb(93, 110, 165);
}

.naranja{
    border: 2px solid rgb(221, 131, 48);
}

.lightnaranja{
    border: 2px solid rgb(223, 161, 104);
}

.blanco{
    border: 2px solid #ccc;
}

.amarillo{
    border: 2px solid rgb(247, 227, 48);
}

.lightverde{
    border: 2px solid rgb(150, 248, 70);
}

.verde{
    border: 2px solid rgb(22, 131, 36);
}

.morado{
    border: 2px solid rgb(92, 27, 245);
}

.cyan{
    border: 2px solid rgb(36, 204, 255);
}
